mixin ui__color-block(color)
    .ui__color-block(style='width: 40px; height: 40px; background-color: ' + color)

mixin listing-sec__item(url, title, author, desc, time)
    li.item
        .item__img
            img(src= url)
            .img-time= time
        .item__title=  title
        .item__author= author
        .item__desc= desc

mixin tabs-sec__item(url, title, author, desc)
    li.item
        .item__img
            img(src= url)
        .item__title=  title
        .item__author= author


- var listSecCategories = [{name : 'category 1' },{ name : 'category 2' },{ name : 'category 3' },{ name : 'category 4' },{ name : 'category 5' }]
mixin list-sec__nav(title)
    aside.list-nav
        h5.list-nav__title= title
        ul.list-nav__list
        for i in listSecCategories
            li.item
                a(href='#')= i.name

mixin showcase__item(url, title, starsQuantity, desk, price)
    li.item
        .item__img
            img(src= url)
        .item__info
            a.title(href='#')= title
            .rating
                ul.rating__stars
                    each index in [1,2,3,4,5]
                        if index < starsQuantity + 1
                            li.star.rated
                        else 
                            li.star
            span.desc= desk
            span.price= price
            button.btn.btn--a Add to cart
            
                    